#  Unit 2.4b Hacks
> My Hacks for Unit 2.4b
- toc: true
- categories: [unit 2.4b, cb, hacks]

In [1]:
import sqlite3

database = 'instance/cars.db' # this is location of database

def schema():
    
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    
    # Fetch results of Schema
    results = cursor.execute("PRAGMA table_info('cars')").fetchall()

    # Print the results
    for row in results:
        print(row)

    # Close the database connection
    conn.close()
    
schema()

(0, 'id', 'INTEGER', 1, None, 1)
(1, '_make', 'VARCHAR(255)', 1, None, 0)
(2, '_model', 'VARCHAR(255)', 1, None, 0)
(3, '_price', 'INTEGER', 1, None, 0)
(4, '_year', 'INTEGER', 1, None, 0)
(5, '_desc', 'VARCHAR(255)', 1, None, 0)
(6, '_engine', 'VARCHAR(255)', 1, None, 0)
(7, '_body_style', 'VARCHAR(255)', 1, None, 0)
(8, '_owner', 'VARCHAR(255)', 1, None, 0)

In [2]:
import sqlite3

database = 'instance/cars.db'

def create():
    make = input("Enter the make of the car:")
    model = input("Enter the model:")
    price = input("Enter the price:")
    year = input("Enter the year:")
    desc = input("Enter a description of the car:")
    body_style = input("Enter the body style of the car:")
    engine = input("Enter the engine type:")
    owner = input("Who's the owner of the car?")
        
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to insert data into a table
        cursor.execute("INSERT INTO cars (_make, _model, _price, _year, _desc, _body_style, _engine, _owner) VALUES (?, ?, ?, ?, ?, ?, ?, ?)", (make, model, price, year, desc, body_style, engine, owner))
        
        # Commit the changes to the database
        conn.commit()
        print(f"A new car has been added")
                
    except sqlite3.Error as error:
        print("Error while executing the INSERT:", error)


    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
create()

A new car has been added

In [3]:
import sqlite3

def read():
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()   # open connection object: contains methods and attributes you need to alter data 
    
    # Execute a SELECT statement to retrieve data from a table
    results = cursor.execute('SELECT * FROM cars').fetchall()  #results is an object 

    # Print the results
    if len(results) == 0:
        print("Table is empty")
    else:
        for row in results:
            print(row)

    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
read()

(1, 'BMW', '2 Series', 34000, 2021, 'The BMW 2 series is a stylish sports coupe that drives just as well as it looks.', '2.0L four-cylinder', 'coupe', 'John Doe')
(3, 'Toyota', 'Sienna', 50000, 2023, 'New Description! Sienna!', 'V6', 'Van', 'SiennaDoe')
(7, 'Hyundai', 'Veloster N', 48000, 2019, 'New Description!', 'V6', 'Coupe', 'Jan')
(8, 'Lucid', 'Air', 72000, 2023, 'The all new, all electric, Lucid Air!', 'Electric', 'Sedan', 'Lucid')
(9, 'Kia', 'Stinger', 42000, 2021, 'Kia Stinger, sports sedan!', 'V6', 'Sedna', 'Sting')
(10, '', '', '', '', '', '', '', '')
(11, 'Ford', 'Mustang', 50000, 2019, 'American Muscle!', 'V8', 'Coupe', 'Mr. Muscle')

In [4]:
import sqlite3

database = 'instance/cars.db'

# Take the inputs for each attribute
def update():
    id = input("Enter the id of the car:")
    make = input("Enter the make of the car:")
    model = input("Enter the model:")
    price = input("Enter the price:")
    year = input("Enter the year:")
    desc = input("Enter a description of the car:")
    body_style = input("Enter the body style of the car:")
    engine = input("Enter the engine type:")
    owner = input("Who's the owner of the car?")

    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to update data in a table
        # Trying to add dob right now...
        cursor.execute("UPDATE cars SET _make = ?, _model = ?, _price = ?, _year = ?, _desc = ?,  _body_style = ?,  _engine = ?,  _owner = ?  WHERE id = ?", (make, model, price, year, desc, body_style, engine, owner, id))
        if cursor.rowcount == 0:
            # Car ID not found
            print(f"No id was found in the table")
        
        # Commit new data
        else: 
            print(f"Car with the id {id} has been updated")
            conn.commit()

    except sqlite3.Error as error:
        print("Error while updating the record:", error)
    
    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
update()

Car with the id 10 has been updated

In [5]:
import sqlite3

def delete():

    id = input("Select the ID of the car you wish to remove: ")
    
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    # Validate the input
    try:
        id = int(id)
    except ValueError:
        print("Invalid input: ID must be an integer.")
        return

    try:
        # Use a parameterized query to prevent SQL injection
        c = conn.cursor()
        c.execute("DELETE FROM cars WHERE id = ?", (id,))
        conn.commit()
        print(f"Row with ID {id} has been deleted.")
    except sqlite3.Error as e:
        print(f"Error deleting row with ID {id}: {e}")
    finally:
        # Close the connection
        cursor.close
        conn.close()

delete()

Row with ID 8 has been deleted.

## CRUD Menu

### Menu Interface to CRUD operations

> CRUD and Schema interactions from one location by running menu. Observe input at the top of VSCode, observe output underneath code cell.

1. Why does the menu repeat?

 the user wishes to conduct multiple tasks in a single session (such as creating and deleting), they can do so by accessing the same menu repeatedly. Any of the CRUD operations can be repeated until the user decides to exit the program via the escape button.

In [ ]:
def menu():
    operation = input("Enter: (C)reate (R)ead (U)pdate or (D)elete or (S)chema")
    if operation.lower() == 'c':
        create()
    elif operation.lower() == 'r':
        read()
    elif operation.lower() == 'u':
        update()
    elif operation.lower() == 'd':
        delete()
    elif operation.lower() == 's':
        schema()
    elif len(operation)==0: # Escape Key
        return
    else:
        print("Please enter c, r, u, or d") 
    menu() # recursion, repeat menu
        
try:
    menu() # start menu
except:
    print("Perform Jupyter 'Run All' prior to starting menu")

Please enter c, r, u, or d
(1, 'BMW', '2 Series', 34000, 2021, 'The BMW 2 Series NEW DESCRIPTION!', '4 cylinder', 'Coupe', 'DoeJohn')
(7, 'Hyundai', 'Veloster N', 48000, 2019, 'New Description!', 'V6', 'Coupe', 'Jan')
(9, 'Kia', 'Stinger', 42000, 2021, 'Kia Stinger, sports sedan!', 'V6', 'Sedna', 'Sting')
(10, 'Dodge', 'Charger', 45000, 2021, 'Vroom!', 'V8', 'Sedan', "Scatpack's are cool")
(11, 'Ford', 'Mustang', 50000, 2019, 'American Muscle!', 'V8', 'Coupe', 'Mr. Muscle')

2. Could you refactor this menu? Make it work with a List?

Yes, you can add the options for each operation into a list.

In [8]:
def menu():
    options = ['c', 'r', 'u', 'd', 's']
    operation = input("Enter: (C)reate (R)ead (U)pdate or (D)elete or (S)chema")
    if operation.lower() in options:
        if operation.lower() == 'c':
            create()
        elif operation.lower() == 'r':
            read()
        elif operation.lower() == 'u':
            update()
        elif operation.lower() == 'd':
            delete()
        elif operation.lower() == 's':
            schema()
    elif len(operation) == 0: # Escape Key
        return
    else:
        print("Please enter c, r, u, or d") 
    menu() # recursion, repeat menu
        
try:
    menu() # start menu
except:
    print("Perform Jupyter 'Run All' prior to starting menu")

(1, 'BMW', '2 Series', 34000, 2021, 'The BMW 2 series is a stylish sports coupe that drives just as well as it looks.', '2.0L four-cylinder', 'coupe', 'John Doe')
(7, 'Hyundai', 'Veloster N', 48000, 2019, 'New Description!', 'V6', 'Coupe', 'Jan')
(9, 'Kia', 'Stinger', 42000, 2021, 'Kia Stinger, sports sedan!', 'V6', 'Sedna', 'Sting')
(10, 'Dodge', 'Charger', 45000, 2021, 'Vroom!', 'V8', 'Sedan', "Scatpack's are cool")
(11, 'Ford', 'Mustang', 50000, 2019, 'American Muscle!', 'V8', 'Coupe', 'Mr. Muscle')
Car with the id 1 has been updated
(1, 'BMW', '2 Series', 34000, 2021, 'The BMW 2 Series NEW DESCRIPTION!', '4 cylinder', 'Coupe', 'DoeJohn')
(7, 'Hyundai', 'Veloster N', 48000, 2019, 'New Description!', 'V6', 'Coupe', 'Jan')
(9, 'Kia', 'Stinger', 42000, 2021, 'Kia Stinger, sports sedan!', 'V6', 'Sedna', 'Sting')
(10, 'Dodge', 'Charger', 45000, 2021, 'Vroom!', 'V8', 'Sedan', "Scatpack's are cool")
(11, 'Ford', 'Mustang', 50000, 2019, 'American Muscle!', 'V8', 'Coupe', 'Mr. Muscle')
Row with ID 3 has been deleted.
(1, 'BMW', '2 Series', 34000, 2021, 'The BMW 2 Series NEW DESCRIPTION!', '4 cylinder', 'Coupe', 'DoeJohn')
(7, 'Hyundai', 'Veloster N', 48000, 2019, 'New Description!', 'V6', 'Coupe', 'Jan')
(9, 'Kia', 'Stinger', 42000, 2021, 'Kia Stinger, sports sedan!', 'V6', 'Sedna', 'Sting')
(10, 'Dodge', 'Charger', 45000, 2021, 'Vroom!', 'V8', 'Sedan', "Scatpack's are cool")
(11, 'Ford', 'Mustang', 50000, 2019, 'American Muscle!', 'V8', 'Coupe', 'Mr. Muscle')