# Lists and Dictionaires
- toc: true 
- badges: true
- comments: true
- categories: [jupyter]

Adding Records to InfoDb

In [25]:
InfoDb = []

# Append to List a Dictionary of key/values related to a person and cars
InfoDb.append({
    "FirstName": "John",
    "LastName": "Mortensen",
    "DOB": "October 21",
    "Residence": "San Diego",
    "Email": "jmortensen@powayusd.com",
    "Owns_Cars": ["2015-Fusion", "2011-Ranger", "2003-Excursion", "1997-F350", "1969-Cadillac"]
})

# Append to List a 2nd Dictionary of key/values
InfoDb.append({
    "FirstName": "Sunny",
    "LastName": "Naidu",
    "DOB": "August 2",
    "Residence": "Temecula",
    "Email": "snaidu@powayusd.com",
    "Owns_Cars": ["4Runner"]
})

InfoDb.append({
    "FirstName": "Martin",
    "LastName": "Nguyen",
    "DOB": "October 15",
    "Residence": "4S Ranch, San Diego",
    "Email": "martinsupercell06@gmail.com",
    "Owns_Cars": ["None"]})

InfoDb.append({
    "FirstName": "Jeffery",
    "LastName": "Guo",
    "DOB": "July 30",
    "Residence": "Carmel Valley, San Diego",
    "Email": "jguo45672@gmail.com",
    "Owns_Cars": ["BMW"]})
# Print the data structure
print(InfoDb)

[{'FirstName': 'John', 'LastName': 'Mortensen', 'DOB': 'October 21', 'Residence': 'San Diego', 'Email': 'jmortensen@powayusd.com', 'Owns_Cars': ['2015-Fusion', '2011-Ranger', '2003-Excursion', '1997-F350', '1969-Cadillac']}, {'FirstName': 'Sunny', 'LastName': 'Naidu', 'DOB': 'August 2', 'Residence': 'Temecula', 'Email': 'snaidu@powayusd.com', 'Owns_Cars': ['4Runner']}, {'FirstName': 'Martin', 'LastName': 'Nguyen', 'DOB': 'October 15', 'Residence': '4S Ranch, San Diego', 'Email': 'martinsupercell06@gmail.com', 'Owns_Cars': ['None']}, {'FirstName': 'Jeffery', 'LastName': 'Guo', 'DOB': 'July 30', 'Residence': 'Carmel Valley, San Diego', 'Email': 'jguo45672@gmail.com', 'Owns_Cars': ['BMW']}]

In [26]:
# create a list of family members
Martys_family = ["Barron", "Ben", "Brinley", "Martin", "Chuck", "Minh"]

# reverse the order of list elements
Martys_family.reverse()


print('Reversed List:', Martys_family)

Reversed List: ['Minh', 'Chuck', 'Martin', 'Brinley', 'Ben', 'Barron']

In [27]:
# print function: given a dictionary of InfoDb content
def print_data(info):
    print(info["FirstName"], info["LastName"])  # using comma puts space between values
    print("\t", "Residence:", info["Residence"]) # \t is a tab indent
    print("\t", "Birth Day:", info["DOB"])
    print("\t", "Cars: ", end="")  # end="" make sure no return occurs
    print(",".join(info["Owns_Cars"]))  # join allows printing a string list with separator
    print()


# for loop algorithm iterates on length of InfoDb
def for_loop():
    print("For loop output\n")
    for info in InfoDb:
        print_data(info)

for_loop()

For loop output

John Mortensen
	 Residence: San Diego
	 Birth Day: October 21
	 Cars: 2015-Fusion,2011-Ranger,2003-Excursion,1997-F350,1969-Cadillac

Sunny Naidu
	 Residence: Temecula
	 Birth Day: August 2
	 Cars: 4Runner

Martin Nguyen
	 Residence: 4S Ranch, San Diego
	 Birth Day: October 15
	 Cars: None

Jeffery Guo
	 Residence: Carmel Valley, San Diego
	 Birth Day: July 30
	 Cars: BMW

In [28]:
def while_loop():
    print("While loop output\n")
    print("This loop continues to print until the length of the InfoDb is met\n")
    i = 0
    while i < len(InfoDb):
        info = InfoDb[i]
        print_data(info)
        i += 1
    return

while_loop()

While loop output

This loop continues to print until the length of the InfoDb is met

John Mortensen
	 Residence: San Diego
	 Birth Day: October 21
	 Cars: 2015-Fusion,2011-Ranger,2003-Excursion,1997-F350,1969-Cadillac

Sunny Naidu
	 Residence: Temecula
	 Birth Day: August 2
	 Cars: 4Runner

Martin Nguyen
	 Residence: 4S Ranch, San Diego
	 Birth Day: October 15
	 Cars: None

Jeffery Guo
	 Residence: Carmel Valley, San Diego
	 Birth Day: July 30
	 Cars: BMW

In [29]:
def MartysRecursive(i):
    if i < len(InfoDb):
        info = InfoDb[i]
        print_data(info)
        MartysRecursive(i + 1)
    return
    
print("Recursive loop output\n")
print("This is an alternate version of the while loop that calls itself until the conditions of the loop are met.\n")
MartysRecursive(0)

Recursive loop output

This is an alternate version of the while loop that calls itself until the conditions of the loop are met.

John Mortensen
	 Residence: San Diego
	 Birth Day: October 21
	 Cars: 2015-Fusion,2011-Ranger,2003-Excursion,1997-F350,1969-Cadillac

Sunny Naidu
	 Residence: Temecula
	 Birth Day: August 2
	 Cars: 4Runner

Martin Nguyen
	 Residence: 4S Ranch, San Diego
	 Birth Day: October 15
	 Cars: None

Jeffery Guo
	 Residence: Carmel Valley, San Diego
	 Birth Day: July 30
	 Cars: BMW